# Игнорировать директорию node_modules, где находятся все зависимости
node_modules/

# Игнорировать build и dist директории (сборки приложения)
build/
dist/

# Игнорировать файлы, сгенерированные IDE
.idea/
.vscode/

# Игнорировать файлы журналов (log files)
*.log

# Игнорировать все файлы .env (файлы конфигурации окружения)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорировать файлы, которые могут быть созданы редакторами или инструментами
.DS_Store
Thumbs.db

# Игнорировать кеши Webpack и другие кешированные файлы
.cache/
*.tgz

# Игнорировать временные файлы и каталоги
*.swp
*.swo

# Игнорировать файлы настроек npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать конфиденциальные файлы (например, ключи API или пароли)
*.pem
*.key
*.crt

# Игнорировать файлы с тестовыми данными
coverage/
